<!DOCTYPE html>
<html>
<head><title>NEU gpa calculator BY TY 内测版</title></head>
<body>
<form method="post" action="/neugpa">
<p>username:<br><input type="text" name="username"></p>
<p>password:<br><input type="text" name="password"></p>

<p>
学期:<br>
 <select name="YearTermNO" style="width:200px"> 
<option value="16">2012-2013学年第二学期</option><option value="15">2012-2013学年第一学期</option><option value="14">2011-2012学年第二学期</option><option value="13">2011-2012学年第一学期</option><option value="12">2010-2011学年第二学期</option><option value="11" selected>2010-2011学年第一学期</option><option value="10">2009-2010学年第二学期</option><option value="9">2009-2010学年第一学期</option><option value="8">2008-2009学年第二学期</option><option value="7">2008-2009学年第一学期</option><option value="6">2007-2008学年第二学期</option><option value="5">2007-2008学年第一学期</option><option value="4">2006-2007学年第二学期</option><option value="3">2006-2007学年第一学期</option><option value="2">2005-2006学年第二学期</option><option value="1">2005-2006学年第一学期</option></select></td>
</p>
<input type="submit">
</form>
</body>
</html>

