{% include "header.html" %}

  <p>姓名：唐尧<br/>
  年龄: 0x14岁<br/>
  生日：1992.07.13<br/>
  E-mail: tangyao0792#gmail.com<br/>
  身高不高,体重不重.</p>

  <p>喜欢：足球,魔兽争霸,实况,acmilan,五月天,编程,算法和数据结构,vim.</p>

  <p>NeuACMer菜鸟一个。加入ACM大军的动机不详且不重要，可能与我是ACMilan的球迷有关,也可能是因为我用acer的电脑。自走上ACM的不归路，越发见识计算机科学之美。也因此看到许多大牛博客，遂开此博客(大牛的一言一行都被菜鸟们模仿，以此渴望与大牛更近一步)。</p>

  <p>写博客的目的主要是记录下平时所做所想，日后把玩。博客中的内容并不一定与计算机相关,可能是我觉得有意思的任何东西。</p>

  <p>博客部署在sae上，完全手写，基于python的tornado框架，代码完善之后会放在github上。</p>

  <br>
  <br>
  <hr>

{% include "comments.html" %}
  
{% include "footer.html" %}
