<!DOCTYPE html>
<html ><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>I am Tang Yao</title>
<link href="{{ static_url("tystyle.css") }}"  rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="main">
  <h1>
      <a class="header" href="/">I am Tang Yao</a>
        <span id="what">Some bytes on the Internet...</span>
  </h1>
<div id="nav">
<h2 id="links">
<a href="/">Home</a> |
<a href="/archives">Archives</a> |
<a href="/about">About</a> |
<a href="/admin">Admin</a> |
<a href="/NewPost">New Post</a> |
<hr>
</h3>


</div>

<div class="content">

