<!DOCTYPE html>
<html ><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>ah! aha! haha!</title>

<!-- syntax highligh --!>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shCore.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushPython.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushCpp.js") }}"></script>

<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushJScript.js") }}"></script>
<link type="text/css" rel="stylesheet" href="{{ static_url("syntax_styles/shCoreDefault.css") }}"/>

<script type="text/javascript">SyntaxHighlighter.all();</script>
<!--<link href='http://fonts.googleapis.com/css?family=Knewave|Patrick+Hand+SC|Exo' rel='stylesheet' type='text/css'>
-->
<link href="{{ static_url("tystyle.css") }}"  rel="stylesheet" type="text/css">
</head>

<body>
<div class="main">
  <h1>
      <a class="header" href="/">ah! aha! haha!</a>
        <span id="what">Some bytes on the Internet...</span>
  </h1>
<div id="nav">
    <form id="search" action="http://google.ca/search" method="get">
    <hr>
    <h2 id="links">
    <a href="/"><span class="nav">Home</span></a> |
    <a href="/archives"><span class="nav">Archives</span></a> |
    <a href="/about"><span class="nav">About</span></a>
    
    
    <input type="hidden" name="q" value="site:google.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
    
    </h2>
    <hr>
    </form>
</div>

<div class="content">

