{% include "header.html" %}
    <div class="entry">
        <a href="/post/{{ entry.time[0:10] + '/' + entry.title }}"><h3><span class="title">{{ entry.title}}</span></h3></a>
        <p>
            <span class="time">{{ entry.time }} |</span>
            <span class="categories">
                <a href="/catagory/?name={{ entry.catagory }}">{{ entry.catagory }}</a>
            </span>
            <span class="count">| {{entry.count}}</span>
        </p>
        <div class="entry-content">
            {% raw entry.html%}
        </div>
    </div>

<br>
<br>
<hr>

{% include "comments.html" %}
  
{% include "footer.html" %}
