<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushDelphi.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushColdFusion.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushJavaFX.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushSass.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushPowerShell.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushCss.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shLegacy.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushJScript.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushDiff.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushCpp.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushErlang.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushBash.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shAutoloader.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushXml.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushCSharp.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushAppleScript.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushJava.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushVb.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushPlain.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushScala.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushSql.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushAS3.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushPerl.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushRuby.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushPhp.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shCore.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushPython.js") }}"></script>
<script type="text/javascript" src="{{ static_url("syntax_scripts/shBrushGroovy.js") }}"></script>
